.card-image img {
    max-height: 506px;
}

.card .card-action {
    background-color: #AC8798;
    height: 55px;
}

.card-action span {
    float: right;
    font-weight: bolder;
    color: #fff;
    font-size: 1.5em;
    margin-top: -7px;
}

.hello {
    font-weight: bolder;
}

.logo {
    height: 150px;
    margin-top: -67px;
}